---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../../layouts/Layout.astro';

import * as post from '../../assets/foundation/docs/incorporation/act-of-incorporator.md';
---

<Layout title="Act of Incorporator — Open Source Endowment" description="Act of Incorporator of the Open Source Endowment Foundation.">
    <section>
        <div class="container">
            <article>
                <section class="pagesec">
                    <div class="insec insec--xpad doc-content">
                        <Fragment set:html={post.compiledContent()}/>
                    </div>
                </section>
            </article>
        </div>
    </section>
</layout>
