---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../../layouts/Layout.astro';

import * as post from '../../assets/foundation/docs/policies/membership-policy.md';
---

<Layout title="Membership Policy — Open Source Endowment" description="Membership policy of the Open Source Endowment Foundation." breadcrumbs={[{name: "Home", url: "https://endowment.dev/"}, {name: "Docs", url: "https://endowment.dev/docs/"}, {name: "Membership Policy", url: "https://endowment.dev/docs/membership-policy/"}]}>
    <script type="application/ld+json" set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://endowment.dev/" },
            { "@type": "ListItem", "position": 2, "name": "Docs", "item": "https://endowment.dev/docs" },
            { "@type": "ListItem", "position": 3, "name": "Membership Policy" }
        ]
    })} />
    <section>
        <div class="container">
            <article>
                <section class="pagesec">
                    <div class="insec insec--xpad doc-content">
                        <Fragment set:html={post.compiledContent()}/>
                    </div>
                </section>
            </article>
        </div>
    </section>
</Layout>
