/*
© 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
SPDX-License-Identifier: Apache-2.0
*/

* {
    box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/noto-serif-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/noto-serif-100-900-italic-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/noto-serif-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/noto-serif-100-900-normal-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/raleway-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/raleway-100-900-italic-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/raleway-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/raleway-100-900-normal-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(/fonts/lora-400-700-italic-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(/fonts/lora-400-700-italic-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(/fonts/lora-400-700-normal-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(/fonts/lora-400-700-normal-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Valkyrie';
    font-weight: 400;
    src: url(/fonts/valkyrie_b_regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Valkyrie';
    font-weight: bold;
    src: url(/fonts/valkyrie_b_bold.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Valkyrie';
    font-style: italic;
    src: url(/fonts/valkyrie_b_italic.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/GeistMono[wght].woff2) format('woff2');
}
@font-face {
    font-family: 'Geist Mono';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/GeistMono-Italic[wght].woff2) format('woff2');
}

@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes illubox-a {
    0%   { opacity: 0; }
    2%   { opacity: 1; }
    23%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes illubox-b {
    0%   { opacity: 0; }
    23%  { opacity: 0; }
    25%  { opacity: 1; }
    48%  { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes illubox-c {
    0%   { opacity: 0; }
    48%  { opacity: 0; }
    50%  { opacity: 1; }
    73%  { opacity: 1; }
    75%  { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes illubox-d {
    0%   { opacity: 0; }
    73%  { opacity: 0; }
    75%  { opacity: 1; }
    98%  { opacity: 1; }
    100% { opacity: 0; }
}

:root {
    --color-bg-base: #020018;
    --color-bg-grad1: #090926;
    --color-bg-grad2: #000217;
    --color-bg-card1: #000218;
    --color-bg-card2: #090522;
    --color-shadow: #19124255;
    --color-bg-border: rgba(222, 222, 255, 0.05);
    --color-bg-border-light: rgba(255, 255, 255, 0.08);
    --color-bg-border-lighter: rgba(255, 255, 255, 0.13);
    --color-primary: #5ba9ee;
    --color-primary-bright: #81d7ff;
    --color-secondary: #3fbd73;
    --color-secondary-bright: #51f395;
    --color-warning: #aa1111;
    --color-text: white;
    --color-faded-text: rgba(255, 255, 255, 0.5);
    --border-radius-big: 50px;
    --border-radius-small: 6px;
    --light-angle: 60deg;
    --url-noise: url(/images/noise-coarse.svg);

    font-size: 18px;
    font-family: 'Raleway', 'Georgia Pro', Georgia, serif;
    line-height: 1.35;
    background:
        var(--url-noise),
        var(--color-bg-base);
    color: var(--color-text);
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6, .button {
    font-family: 'Raleway', 'Helvetia Neue', Helvetica, sans-serif;
}

small {
    font-family: 'Lora', 'Georgia Pro', Georgia, serif;
}

a {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    &:hover {
        color: var(--color-primary-bright);
    }
}

hr {
  margin: 1.5rem 0;
  max-width: 10rem;
  border-color: white;
  border-width: 1px;
}

.button {
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.7rem 1.2rem;
    border-radius: var(--border-radius-big);
    font-weight: bold;
    background: white;
    color: black;
    .after {
        padding-left: 0.5rem;
        vertical-align: 1px;
    }
    &:hover {
        color: black;
        background: var(--color-primary-bright);
    }
    &.button--huge {
        padding: 0.8rem 1.8rem;
        font-size: 1.5rem;
    }
    &.button--colored {
        background: var(--color-secondary-bright);
        box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2);
        &:hover {
            background: var(--color-primary-bright);
        }
    }
}

.container {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex {
    display: flex;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.text-center {
    text-align: center;
}

.mobile-only {
    display: none;
}
@media (max-width: 800px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: unset;
    }
}

section {
    margin: 6rem 0;
    & > h2, & > .container > h2 {
        text-align: center;
        font-size: 2.5rem;
    }
}

.section--grid {
    padding: 3rem;
    border-top: 1px solid var(--color-bg-border);
    border-bottom: 1px solid var(--color-bg-border);
    background: url(/images/dot-grid.svg), var(--color-bg-base);
}
.hero + .section--grid {
    border-top: none;
}

.cardset {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .card {
        flex: 1;
    }
}
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-bg-border-light);
    border-top-color: var(--color-bg-border-lighter);
    border-radius: var(--border-radius-small);
    background: linear-gradient(var(--light-angle),
        var(--color-bg-card1), var(--color-bg-card2));
    box-shadow: 0px 0px 8px 2px var(--color-shadow);
    h2 {
        margin: 0;
    }
    img {
        width: 2.5rem;
        height: 2.5rem;
    }
    &.card--narrow {
        max-width: 30rem;
    }
    &.card--bigpad {
        padding: 2rem;
    }
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    h3 {
        margin: 0;
        font-size: 3rem;
    }
}

/*
Bluesky flutter — https://flutterby.philhawksworth.dev/
SPDX-SnippetBegin
SPDX-License-Identifier: MIT
SPDX-SnippetCopyrightText: 2024 Phil Hawksworth
 */
.bluesky-flutter svg {
    transition: 200ms;
}

.bluesky-flutter .left {
    transform-origin: center;
}
.bluesky-flutter .right {
    transform-origin: center;
    transform: scale(-1, 1);
}
.bluesky-flutter:hover .left, .bluesky-flutter:focus .left {
    animation: flutter 430ms ease-in-out;
    --flip: 1;
}
.bluesky-flutter:hover .right, .bluesky-flutter:focus .right {
    animation: flutter 500ms ease-in-out;
    --flip: -1;
}
.bluesky-flutter:hover svg, .bluesky-flutter:focus svg {
    transform: rotate(-5deg);
    transition: 500ms;
}

@media (prefers-reduced-motion) {
    .bluesky-flutter:hover .left,
    .bluesky-flutter:focus .left,
    .bluesky-flutter:hover .right,
    .bluesky-flutter:focus .right {
        animation: none;
    }
}

@keyframes flutter {
    10% {
        transform: scale(calc(var(--flip)*1), 0.9);
    }
    20% {
        transform: scale(calc(var(--flip)*0.5), 1);
    }
    40% {
        transform: scale(calc(var(--flip)*0.9), 0.95);
    }
    60% {
        transform: scale(calc(var(--flip)*0.3), 1);
    }
    80% {
        transform: scale(calc(var(--flip)*0.9), 0.95);
    }
    100% {
        transform: scale(calc(var(--flip)*1), 1);
    }
}
/* SPDX-SnippetEnd */
