---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="pagesec">
        <div class="cta">
            <h3>Oops! Page not found.</h3>
            <a href="/" class="button button--huge button--colored">Go back to homepage</a>
        </div>
    </section>
</layout>
