---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <article>
        <section class="pagesec pagesec--dark">
            <div class="container">
                <div class="insec insec--xpad">
                    <div class="squares squares--corner-dark-sw-outer"></div>
                    <div class="squares squares--corner-dark-ne-outer"></div>
                    <div class="insec__safety">
                        <h1>Docs</h1>
                        <p>
                            The Open Source Endowment targets outstanding transparency.
                            Learn more about our nonprofit organization through open
                            documents, public endpoints,
                            <a href="/faq">FAQ</a>,
                            and feel free to discuss them on our GitHub repo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h2>Foundation</h2>
                <ul>
                    <li>
                        Open Source Endowment Foundation
                    </li>
                    <li>
                        US 501(c)(3) tax-exempt charitable organization
                    </li>
                    <li>
                        EIN 33-3502715
                    </li>
                    <li>
                        <a href="/docs/bylaws">Bylaws</a>
                    </li>
                    <li>
                        <a href="/docs/board-uwc">Initial Board Resolution</a>
                    </li>
                    <li>
                        <a href="/docs/act-of-incorporator">Act of Sole Incorporator</a>
                    </li>
                    <li>
                        <a href="/docs/certificate-of-incorporation">Certificate of Incorporation</a>
                    </li>
                </ul>
                <h2>Policies</h2>
                <ul>
                    <li>
                        <a href="/docs/membership-policy">Membership policy</a>
                    </li>
                    <li>
                        <a href="https://github.com/osendowment/foundation/blob/main/docs/policies/coi-policy.pdf">Conflict of interest policy</a>
                    </li>
                </ul>
                <h2>Board resolutions and meeting minutes</h2>
                <ul>
                    <li>
                        <time class="timeslug" ="2025-03-28">2025-03-28</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-03-28/minutes.md">Meeting minutes</a>
                    </li>
                    <li>
                        <time class="timeslug" ="2025-05-23">2025-05-23</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-05-23/minutes.md">Meeting minutes</a>,
                        <a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-05-23/membership-policy.pdf">Membership policy</a>
                    </li>
                    <li>
                        <time class="timeslug" ="2025-05-29">2025-05-29</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-05-29/RESOLUTION%20OF%20THE%20BOARD%20OF%20DIRECTORS%20OF%20THE%20OPEN%20SOURCE%20ENDOWMENT%20FOUNDATION%20%28Adopted%20by%20Unanimous%20Written%20Consent%20In%20Lieu%20of%20a%20Meeting%20Pursuant%20to%20Section%203.pdf">Resolution re Vanguard account</a>
                    </li>
                    <li>
                        <time class="timeslug" ="2025-06-25">2025-06-25</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-06-25/Board%20decision%20re%20T%20Bonds%20%E2%80%A2%20konstantin%40endowment.dev.pdf">Resolution re T-Bonds</a>
                    </li>
                    <li>
                        <time class="timeslug" ="2025-08-08">2025-08-08</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-08-08/minutes.md">Meeting minutes</a>
                    </li>
                    <li>
                        <time class="timeslug" ="2025-12-04">2025-12-04</time><a href="https://github.com/osendowment/foundation/blob/main/docs/board/2025-12-04/minutes.md">Meeting minutes</a>
                    </li>
                </ul>
                <h2>Public API</h2>
                <ul>
                    <li>
                        <a href="https://stats.endowment.dev">stats.endowment.dev</a>
                    </li>
                </ul>
            </div>
        </section>
    <article>
</Layout>
