---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="intro container" slot="hero">
        <div class="intro-text">
            <small>The world's first</small>
            <h2>Open Source<br>Endowment</h2>
            <hr>
            <small>
                Truly sustainable funding for critical OSS through a community&#x2011;driven
                endowment fund.
            </small>
        </div>
        <div class="intro-illu-container">
            <div class="intro-illu">
                <div class="illubox illubox--a">curl</div>
                <div class="illubox illubox--a">mpld3</div>
                <div class="illubox illubox--b illubox--ok">imagemagick</div>
                <div class="illubox illubox--b">iced</div>
                <div class="illubox illubox--c">xz</div>
                <div class="illubox illubox--c illubox--ok">log4j</div>
                <div class="illubox illubox--d illubox--ok">openssl</div>
                <div class="illubox illubox--d illubox--ok">git</div>
            </div>
        </div>
        <div class="mobile-only">
            <a href="#TODO" class="button">
                Donate now<span class="after">›</span>
            </a>
        </div>
    </div>
    <section class="principles">
        <div class="container">
            <div class="cardset">
                <div class="card">
                    <img src="/images/icons/squiggle.svg">
                    <h2>Sustainable</h2>
                    <p>
                        Provides stable, long&#x2011;term funding for OSS maintenance, independent of
                        yearly donation cycles or short&#x2011;term corporate budgets.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/balls.svg">
                    <h2>Systemic</h2>
                    <p>
                        Supports crucial ‘long tail’ of OSS&nbsp;—&nbsp;foundational projects vital
                        for the entire ecosystem, often overlooked by typical funding.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/assembly.svg">
                    <h2>Efficient</h2>
                    <p>
                        Maximizes impact with a community&#x2011;first, transparent digital operation,
                        attracting diverse support from tech and beyond.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Solving Open Source Sustainability</h2>
            <div class="feature">
                <div>
                    <p>
                        Though 96% of codebases rely on open source software, the maintainers of
                        this software are generally unpaid, doing their work in a burnout&#x2011;inducing
                        second shift after their day jobs.
                    </p>
                    <p>
                        This burnout leads to catastrophic global security issues, as we've already
                        seen with
                        <a href="https://en.wikipedia.org/wiki/Log4Shell">Log4Shell</a>,
                        the
                        <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor">XZ Utils backdoor</a>
                        and
                        <a href="https://en.wikipedia.org/wiki/Heartbleed">Heartbleed</a>.
                    </p>
                    <p>
                        <strong>Our solution: the endowment model</strong>.
                        An endowment invests donations in low&#x2011;risk assets to build a permanent fund. It then uses only
                        capital gains from investments to support its mission. This creates a sustainable funding stream
                        that weathers economic and political volatility for generations.
                    </p>
                </div>
                <img src="/images/xkcd-2347.png">
            </div>
        </div>
    </section>
    <section>
        <div class="container flex flex-center">
            <div class="card card--narrow card--bigpad">
                <div class="text-center">
                    <img src="/images/icons/branches-dense.svg">
                    <h2>Community&#x2011;Governed Algorithmic Allocation</h2>
                </div>
                <p>
                    We allocate funds using algorithms we develop in&#x2011;house, which operate on data from across the open
                    source ecosystem.
                </p>
                <p>
                    Algorithms are selected by our member donors, in consultation with the community.
                </p>
                <div class="text-center">
                    <a href="#TODO" class="button">Join the conversation →</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Our Team</h2>
            <div class="team-member-list">
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/konstantin.webp" alt="A portrait of Konstantin">
                        <h3>
                            <a href="https://www.linkedin.com/in/kvinogradov/">Konstantin Vinogradov</a>
                            <em>Board Director, Chairman</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            General Partner at VC firm
                            <a href="https://runacap.com/">Runa Capital</a>
                            ($0.5B+ AUM), where he focuses on investing in OSS.
                        </li>
                        <li>
                            Previously co&#x2011;founded a next&#x2011;gen endowment, which grew
                            from $50K to $600K+ in 12 months.
                        </li>
                        <li>
                            He has been publishing the
                            <a href="https://runacap.com/ross-index/">ROSS Index</a>,
                            a data-driven rating of top OSS startups, every quarter since 2020.
                        </li>
                    </ul>
                </div>
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/chad.webp" alt="A portrait of Chad">
                        <h3>
                            <a href="https://www.linkedin.com/in/chadwhitacre/">Chad Whitacre</a>
                            <em>Board Director, Secretary</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            Head of Open Source at
                            <a href="https://sentry.io/">Sentry</a>,
                            the leading developer&#x2011;first application monitoring platform ($3B+ valuation).
                        </li>
                        <li>
                            Leader of the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>,
                            a cultural initiative to get companies to pay open source maintainers.
                        </li>
                        <li>
                            Founder of open source funding pioneer
                            <a href="https://gratipay.com/">Gratipay</a>
                            (2012–2018).
                        </li>
                    </ul>
                </div>
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/maxim.webp" alt="A portrait of Maxim">
                        <h3>
                            <a href="https://www.linkedin.com/in/maxim/">Maxim Konovalov</a>
                            <em>Board Director, Treasurer</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            Co-founder and ex VP Engineering at
                            <a href="https://nginx.com">Nginx</a>,
                            the world's leading web server, acquired for ~$0.7B in 2019.
                        </li>
                        <li>
                            Former VP Engineering at
                            <a href="https://www.f5.com/">F5</a>.
                        </li>
                        <li>
                            Seasoned supporter of
                            <a href="https://www.freebsd.org/">FreeBSD</a>.
                        </li>
                    </ul>
                </div>
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/jonathan.webp" alt="A portrait of Jonathan">
                        <h3>
                            <a href="https://www.linkedin.com/in/jonathan-starr-b04032284/">Jonathan Starr</a>
                            <em>Executive Director</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            Program Manager at
                            <a href="https://numfocus.org">NumFOCUS</a>,
                            a nonprofit foundation supporting scientific OSS such as
                            <a href="https://pandas.pydata.org/">Pandas</a>.
                        </li>
                        <li>
                            Co-Founder of
                            <a href="https://www.scios.tech/">SciOS</a>
                            and the
                            <a href="https://iosp.io/">The Institute of Open Science Practices</a>
                            which focus on sustainable open science.
                        </li>
                    </ul>
                </div>
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/amy.webp" alt="A portrait of Amy">
                        <h3>
                            <a href="https://www.linkedin.com/in/amy3parker/">Amy Parker</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            Chief Fundraising Officer at the
                            <a href="https://openssl-foundation.org/">OpenSSL Foundation</a>.
                        </li>
                        <li>
                            Former Director of the
                            <a href="https://wikimediaendowment.org/">Wikipedia Endowment</a>.
                        </li>
                        <li>
                            Former Director of Individual Giving at the
                            <a href="https://www.si.edu/">Smithsonian</a> and the
                            <a href="https://www.nypl.org/">New York Public Library</a>.
                        </li>
                    </ul>
                </div>
                <div class="team-member">
                    <div class="team-member__head">
                        <img src="/images/team/vlad.webp" alt="A portrait of Vlad">
                        <h3>
                            <a href="https://vlad.website">Vlad-Stefan Harbuz</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            Maintainer of the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>.
                        <li>
                            Core developer of OSS funding service
                            <a href="https://thanks.dev">thanks.dev</a>.
                        </li>
                        <li>
                            Helped build software used by the
                            <a href="https://www.gatesfoundation.org/">Gates Foundation</a>
                            to allocate $1B in healthcare funding.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="cta">
            <h3>Ready to contribute?</h3>
            <a href="#TODO" class="button button--huge button--colored">Donate now</a>
        </div>
    </section>
</Layout>

<style>
    .intro {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
        .intro-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            small {
                display: block;
                font-size: 1.5rem;
                font-weight: normal;
                font-style: italic;
            }
            h2 {
                margin: 0;
                font-size: 4.0rem;
                line-height: 1.2;
                @media (max-width: 800px) {
                    font-size: 2.5rem;
                }
                /* background-image: */
                /*     radial-gradient( */
                /*         ellipse at top left, */
                /*         var(--color-primary-bright), transparent), */
                /*     radial-gradient( */
                /*         ellipse at bottom right, */
                /*         var(--color-secondary-bright), transparent); */
                /* background-size: 100%; */
                /* background-clip: text; */
                /* -webkit-text-fill-color: transparent; */
            }
        }
        .intro-illu-container {
            flex: 0 0 16rem;
            width: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5rem;
        }
        .intro-illu {
            flex: 1;
            position: relative;
            background-image: url(/images/branches.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            height: 23rem;
            width: 16rem;
            .illubox {
                position: absolute;
                display: inline-block;
                padding: 0.3rem 0.8rem;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: var(--border-radius-big);
                color: white;
                font-family: 'Raleway', 'Helvetia Neue', Helvetica, sans-serif;
                white-space: nowrap;
                transform: rotate(-50deg);
                transform-origin: left;
                &.illubox--a {
                    top: -7%;
                    left: 13%;
                }
                &.illubox--b {
                    top: 4%;
                    left: 36%;
                }
                &.illubox--c {
                    top: 12%;
                    left: 57%;
                }
                &.illubox--d {
                    top: 18%;
                    left: 78%;
                }
                &:before {
                    content: ' ';
                    display: inline-block;
                    height: 0.6rem;
                    width: 0.6rem;
                    margin-right: 0.6rem;
                    border-radius: 100%;
                    background: var(--color-warning);
                    animation: blink 2s ease-in-out infinite alternate;
                }
                &.illubox--ok:before {
                    background: var(--color-secondary);
                }
                &:nth-child(2n) {
                    animation: toggle 10s ease-in-out infinite alternate;
                }
                &:nth-child(2n+1) {
                    animation: toggle 10s ease-in-out infinite alternate-reverse;
                }
            }
        }
    }
    .principles {
        margin-top: 3rem;
    }
    .feature {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
        & > div {
            flex: 1;
            font-size: 1.2rem;
        }
        & > img {
            max-width: 17rem;
        }
    }
    .team-member-list {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        .team-member {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: var(--border-radius-small);
            background:
                url(/images/noise.png),
                linear-gradient(-45deg, #111330, #011124);
            .team-member__head {
                display: flex;
                gap: 1rem;
                align-items: center;
                h3 {
                    margin: 0;
                    font-size: 1.5rem;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    em {
                        display: block;
                        font-weight: normal;
                        font-style: normal;
                        font-size: 1rem;
                    }
                }
                img {
                    height: 4rem;
                    width: 4rem;
                    border-radius: 100%;
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 0;
                padding: 0;
                list-style-position: inside;
            }
        }
    }
</style>
