---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="intro container" slot="hero">
        <div class="intro-text">
            <small>The world's first</small>
            <h1>Open Source<br>Endowment</h1>
            <hr>
            <small>
                Truly sustainable funding for critical OSS through a community&#x2011;driven
                endowment.
            </small>
        </div>
        <div class="intro-illu-container">
            <div class="intro-illu">
                <div class="illubox illubox--a">curl</div>
                <div class="illubox illubox--a">mpld3</div>
                <div class="illubox illubox--a">pandas</div>
                <div class="illubox illubox--a">cpython</div>
                <div class="illubox illubox--b illubox--ok">imagemagick</div>
                <div class="illubox illubox--b">iced</div>
                <div class="illubox illubox--b">tokio</div>
                <div class="illubox illubox--b illubox--ok">numpy</div>
                <div class="illubox illubox--c">xz</div>
                <div class="illubox illubox--c illubox--ok">log4j</div>
                <div class="illubox illubox--c">matplotlib</div>
                <div class="illubox illubox--c">requests</div>
                <div class="illubox illubox--d illubox--ok">openssl</div>
                <div class="illubox illubox--d illubox--ok">git</div>
                <div class="illubox illubox--d">zlib</div>
                <div class="illubox illubox--d">joda-time</div>
            </div>
        </div>
        <div class="mobile-only">
            <a href="#donate" class="button" data-track="hero-bottom-donate">
                Donate now<span class="after">›</span>
            </a>
        </div>
    </div>
    <section class="principles section--grid">
        <div class="container">
            <div class="cardset">
                <div class="card">
                    <img src="/images/icons/squiggle.svg" alt="A leaf-shaped squiggle">
                    <h2>Sustainable</h2>
                    <p>
                        Provides a stable, long-term funding model, independent of the volatility of traditional support.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/branches-dense.svg" alt="Dense, intertwining branches">
                    <h2>Systemic</h2>
                    <p>
                        Supports the critical but underfunded projects that conventional models miss.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/assembly.svg" alt="Two circles coming together">
                    <h2>Efficient</h2>
                    <p>
                        A lean, digital-first, community-led organization designed for maximum impact and transparency.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Solving Open Source Sustainability</h2>
            <div class="spotlight">
                <div>
                    <p>
                        The modern world runs on software, and more than 95% of its code depends on open source
                        software. This critical infrastructure is built and maintained by mostly unpaid volunteers
                        contributing in whatever spare time they have.
                    </p>
                    <p>
                        Maintainer burnout and lack of funding often lead to catastrophic security incidents, as seen
                        with
                        <a href="https://en.wikipedia.org/wiki/Log4Shell">Log4Shell</a>,
                        the
                        <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor">XZ Utils backdoor</a>
                        and
                        <a href="https://en.wikipedia.org/wiki/Heartbleed">Heartbleed</a>.
                        The unsustainable state of OSS financing makes the global software supply chain fragile and
                        puts our world at ever-growing risk.
                    </p>
                    <p>
                        <strong>Our solution: the endowment model</strong>.
                        Successfully <a href="https://en.wikipedia.org/wiki/Financial_endowment">implemented</a> by the
                        world's leading universities and nonprofit institutions, endowments aggregate donations in a
                        permanent fund and spend only investment returns to advance their causes. This creates a stable
                        financial foundation designed to weather economic and political volatility across decades.
                    </p>
                    <p>
                        We are building the first implementation of this model for open source software, and invite you
                        to join this mission.
                    </p>
                </div>
                <figure>
                    <img src="/images/xkcd-2347.png"
                        alt="This xkcd comic shows a Jenga-like tower of blocks, illustrating “all modern digital infrastructure”. The structure precariously rests on a small load-bearing block, titled “a project some random person in Nebraska has been thanklessly maintaining since 2003”.">
                    <figcaption>
                        <a href="https://xkcd.com/2347/">xkcd “Dependency”</a>
                    </figcaption>
                </figure>
            </div>
            <div class="cardset cardset--tight small-text">
                <a class="card card--iconed card--top" href="https://openpath.quest/2024/the-open-source-sustainability-crisis/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“The Open Source Sustainability Crisis”</strong><br>by Chad Whitacre
                    </span>
                </a>
                <a class="card card--iconed card--top" href="https://kvinogradov.com/oss-universities/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“What Open Source can learn from universities to fix its funding”</strong><br>by
                        Konstantin Vinogradov
                    </span>
                </a>
                <a class="card card--iconed card--top" href="https://www.blackduck.com/resources/analyst-reports/open-source-security-risk-analysis.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“2025 Open Source Security and Risk Analysis”</strong><br>by Synopsis
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="vision section--grid">
        <div class="container">
            <h2>Our Vision</h2>
            <p>
                Open source is the world's largest public institution, operating much like a global, decentralized
                university. Over 150 million people on GitHub alone learn, create, and share together, in a unique
                collaborative and social environment.
            </p>
            <p>
                The Open Source Endowment (OSE) is a lasting solution to efficiently sustaining this vital institution.
                It leverages a funding model proven to work by leading universities and cultural organizations for
                centuries.
            </p>
        </div>
    </section>
    <section class="container section--split flex-center">
        <div class="subsection">
            <h2>Short-Term Roadmap</h2>
            <div class="roadmap">
                <div class="roadmap-item">
                    <h3>Q1 2025</h3>
                    <ul>
                        <li>
                            Incorporated a US nonprofit corporation
                        </li>
                        <li>
                            Applied for tax-exempt 501(c)(3) status
                        </li>
                        <li>
                            Secured the first co-founding donors
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q2 2025</h3>
                    <ul>
                        <li>
                            Set up financial infrastructure
                        </li>
                        <li>
                            Introduce Members' Club
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q3 2025</h3>
                    <ul>
                        <li>
                            Develop initial grantmaking model
                        </li>
                        <li>
                            Finalize co-founding donor community
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q4 2025</h3>
                    <ul>
                        <li>
                            501(c)(3) status (expected, not guaranteed)
                        </li>
                        <li>
                            Public launch and community expansion
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q1 2026</h3>
                    <ul>
                        <li>
                            Finalize grantmaking model
                        </li>
                        <li>
                            Perform first distributions of grants
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subsection">
            <div class="card card--center">
                <img src="/images/icons/avatar.svg" alt="The silhouette of a person">
                <h2>Governance</h2>
                <p>
                    <strong>Members.</strong>
                    OSE is guided by the Members' Club — the open community of individuals who donate at least $1,000
                    per year. They have legal rights to take part in strategic matters, such as selecting the
                    grantmaking model and appointing community directors to the OSE board.
                </p>
                <p>
                    <strong>Directors.</strong>
                    OSE is strategically managed by its Board of Directors, with operations managed by its Executive
                    Director. By design, all directors at OSE must also be Members.
                </p>
                <a href="#donate" class="button" data-track="governance-donate">
                    Donate $1,000+ to join as a Member<span class="after">›</span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <h2>Next-gen Nonprofit, Based on Principles</h2>
        <div class="container flex flex-center">
            <div class="features">
                <div class="card">
                    <h3>Data-Driven & SMART Goals</h3>
                    <p>
                        Data guides our goal-based strategy,
                        ensuring every donation makes a measurable difference.
                    </p>
                </div>
                <div class="card">
                    <h3>Global Outlook</h3>
                    <p>
                        Supports the long-term health of the global open source supply chain, not of specific countries or
                        ecosystems.
                    </p>
                </div>
                <div class="card">
                    <h3>Maximum Transparency</h3>
                    <p>
                        Provides open data, public governance processes, and clear accountability in all funding
                        decisions and operations.
                    </p>
                </div>
                <div class="card">
                    <h3>Inclusive and Diverse Governance</h3>
                    <p>
                        Empowers the community to shape key strategic decisions with a focus on individuals over companies.
                    </p>
                </div>
                <div class="card">
                    <h3>Decentralized Funding</h3>
                    <p>
                        A broad funding base from diverse sources makes every contribution meaningful and
                        fosters community governance.
                    </p>
                </div>
                <div class="card">
                    <h3>Neutrality</h3>
                    <p>
                        Remains independent from political or corporate influence, ensuring unbiased, mission-driven
                        funding for the public good.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>How it Works</h2>
            <div class="cardset cardset--tight process">
                <div class="card">
                    <img src="/images/icons/card.svg" alt="A credit card">
                    <h3>
                        <span class="process-number">1</span>Fundraising
                    </h3>
                    <p>
                        Individuals, companies, and foundations donate to the Open Source Endowment, forming its
                        permanent principal, which is not spent.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/suns.svg" alt="Two triangles pointing up">
                    <h3>
                        <span class="process-number">2</span>Investing
                    </h3>
                    <p>
                        The endowment principal is invested in a low-risk portfolio that generates sustainable annual
                        returns. We target a ~5% spend rate, typical for U.S. universities.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/balls.svg" alt="Circles of different sizes">
                    <h3>
                        <span class="process-number">3</span>Grantmaking
                    </h3>
                    <p>
                        We distribute grants based on open, data-driven inputs and our model, co-developed with the OSE
                        Members and in consultation with the open source community.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/search.svg" alt="A magnifying glass">
                    <h3>
                        <span class="process-number">4</span>Monitoring
                    </h3>
                    <p>
                        Supported projects are tracked for accountability, refining strategy, and maximizing OSE's
                        positive impact. The grantmaking model is iteratively improved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {true && (
    <section>
        <div class="container">
            <h2>Our Team</h2>
            <div class="team-member-list">
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/konstantin.webp" alt="A portrait of Konstantin">
                        </div>
                        <h3>
                            <div class="team-member__nameline">
                                <a href="https://www.linkedin.com/in/kvinogradov/">Konstantin Vinogradov</a>
                                <a href="mailto:konstantin@endowment.dev" target="_blank">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/></svg>
                                </a>
                            </div>
                            <em>Board Director, Chairman</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            General Partner at
                            <a href="https://runacap.com/">Runa Capital</a>
                            ($0.5B+ AUM), who focuses on early-stage OSS investments.
                            Previously co&#x2011;founded an endowment which grew from $50K to $600K+ in 12 months. Publishes the
                            <a href="https://runacap.com/ross-index/">ROSS Index</a>,
                            a quarterly data-driven rating of top open source startups.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/chad.webp" alt="A portrait of Chad">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/chadwhitacre/">Chad Whitacre</a>
                            <em>Board Director, Secretary</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Head of Open Source at application monitoring platform
                            <a href="https://sentry.io/">Sentry</a> (used by 4M+ developers) and the
                            leader of the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>,
                            a cultural initiative to get companies to pay open source maintainers.
                            Founded OSS funding pioneer Gratipay (2012–2018).
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/maxim.webp" alt="A portrait of Maxim">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/maxim/">Maxim Konovalov</a>
                            <em>Board Director, Treasurer</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Co-founder and ex VP Engineering at
                            <a href="https://nginx.com">Nginx</a>,
                            the world's leading web server, used by 400M+ websites, acquired for ~$0.7B in 2019.
                            Former VP Engineering at
                            <a href="https://www.f5.com/">F5</a>.
                            Seasoned supporter of FreeBSD.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/jonathan.webp" alt="A portrait of Jonathan">
                        </div>
                        <h3>
                            <div class="team-member__nameline">
                                <a href="https://www.linkedin.com/in/jonathan-starr-b04032284/">Jonathan Starr</a>
                                <a href="mailto:jon@endowment.dev" target="_blank">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/></svg>
                                </a>
                            </div>
                            <em>Executive Director</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Program Manager at
                            <a href="https://numfocus.org">NumFOCUS</a>,
                            a nonprofit foundation supporting scientific OSS such as
                            <a href="https://pandas.pydata.org/">Pandas</a>.
                            Co-Founder of
                            <a href="https://www.scios.tech/">SciOS</a>
                            and the
                            <a href="https://iosp.io/">The Institute of Open Science Practices</a>,
                            focusing on sustainable open science.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/amy.webp" alt="A portrait of Amy">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/amy3parker/">Amy Parker</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Chief Fundraising Officer at the
                            <a href="https://openssl-foundation.org/">OpenSSL Foundation</a> and former Director of the
                            <a href="https://wikimediaendowment.org/">Wikipedia Endowment</a>.
                            Served as Director of Individual Giving at the Smithsonian and the New York Public Library
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/vlad.webp" alt="A portrait of Vlad">
                        </div>
                        <h3>
                            <a href="https://vlad.website">Vlad-Stefan Harbuz</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Maintainer of the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>.
                            Core developer of OSS funding service
                            <a href="https://thanks.dev">thanks.dev</a>.
                            Helped build software used by the Gates Foundation to allocate $1B in healthcare funding.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mini-note">
                <p>
                    Looking to contribute to the Open Source Endowment? We'd love to chat.
                    <a href="mailto:donors@endowment.dev" target="_blank">Contact us!</a>
                </p>
            </div>
        </div>
    </section>
    )}
    <section id="donate">
        <div class="container">
            <h2>Donate now to make an ever-lasting impact on the open source ecosystem</h2>
            <div class="cardset cardset--column">
                <div class="card card--alert card--iconed checkout-alert" hidden>
                    <img src="/images/icons/fa-triangle-exclamation-solid.svg">
                    <p></p>
                </div>
                <noscript>
                    <div class="card card--info card--iconed">
                        <img src="/images/icons/fa-triangle-exclamation-solid.svg">
                        <p>
                            Our payment process requires Javascript — but you can contact us at
                            <a href="mailto:donors@endowment.dev">donors@endowment.dev</a>
                            to arrange your donation separately.
                        </p>
                    </div>
                </noscript>
                <div class="card card--white card--narrow card--big-shadow checkout">
                    <form
                        class="form form--big"
                        action="https://api.endowment.dev/create-checkout-session" method="POST"
                    >
                        <div class="form-control">
                            <label for="donor-email">Email</label>
                            <input type="email" name="donorEmail" id="donor-email">
                        </div>
                        <div class="form-control">
                            <label for="donor-name">Name</label>
                            <input type="text" name="donorName" id="donor-name">
                        </div>
                        <div class="form-control-group">
                            <label>Donation amount</label>
                            <div class="form-control-set">
                                <div class="form-control">
                                    <input type="radio" name="presetAmount" value="100" id="presetAmount-100">
                                    <label for="presetAmount-100">$100</label>
                                </div>
                                <div class="form-control">
                                    <input type="radio" name="presetAmount" value="500" id="presetAmount-500"
                                        checked="checked">
                                    <label for="presetAmount-500">$500</label>
                                </div>
                                <div class="form-control">
                                    <input type="radio" name="presetAmount" value="1000" id="presetAmount-1000">
                                    <label for="presetAmount-1000">$1000</label>
                                </div>
                                <div class="form-control">
                                    <input type="radio" name="presetAmount" value="2000" id="presetAmount-2000">
                                    <label for="presetAmount-2000">$2000</label>
                                </div>
                                <div class="form-control">
                                    <input type="radio" name="presetAmount" value="custom" id="presetAmount-custom">
                                    <label for="presetAmount-custom">Custom</label>
                                </div>
                            </div>
                            <div class="form-control checkout__custom-amount">
                                <div class="input-wrapper input-wrapper--usd">
                                    <input type="text" name="customAmount" placeholder="100" value="100">
                                </div>
                            </div>
                        </div>
                        <div class="form-control-group">
                            <label>Donation method</label>
                            <div class="form-control-set">
                                <div class="form-control">
                                    <input type="radio" name="method" value="stripe" id="method-stripe"
                                        checked="checked">
                                    <label for="method-stripe">Card</label>
                                </div>
                                <div class="form-control">
                                    <input type="radio" name="method" value="bank" id="method-bank">
                                    <label for="method-bank">Bank transfer</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control checkout__trigger-stripe">
                            <input type="submit" class="button button--block" value="Donate via Stripe"
                                data-track="checkout-stripe-trigger">
                        </div>
                        <div class="form-control checkout__trigger-bank">
                            <button type="button" class="button button--block checkout__bank-button"
                                data-track="checkout-bank-trigger">
                                Show bank details for a donation
                            </button>
                        </div>
                        <div class="small-text">
                            For US donors: 501(c)(3) status is pending. Current donations are not tax-deductible,
                            but would be if 501(c)(3) status is approved by the IRS.
                        </div>
                        <div class="checkout__bank-details"></div>
                        <div class="checkout__bank-finish" hidden>
                            <input type="submit" class="button button--block" value="I've made my transfer"
                                formaction="https://api.endowment.dev/record-bank-transfer"
                                data-track="checkout-bank-finish">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="resources">
        <div class="container">
        </div>
    </section>
</Layout>

<style>
    .principles {
        margin-top: 0rem;
    }
    .vision {
        p {
            font-size: 1.3rem;
            text-align: center;
        }
    }
    .spotlight {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
        & > div {
            flex: 1;
        }
        & > figure {
            max-width: 17rem;
            margin: 0;
        }
        & + .cardset {
            margin-top: 2rem;
        }
    }
    .roadmap {
        .roadmap-item {
            position: relative;
            padding-bottom: 2rem;
            padding-left: 3rem;
            h3 {
                margin-bottom: 0.5rem;
            }
            ul {
                margin: 0;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 1.5rem;
                width: 1.5rem;
                background: var(--color-secondary-bright);
                border-radius: 100%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 1rem;
                left: 0.75rem;
                bottom: -0.5rem;
                transform: translateX(-50%);
                display: block;
                width: 0.3rem;
                background: var(--color-secondary-bright);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
    .features {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        h3 {
            margin: 0;
            font-size: 1rem;
        }
    }
    .process {
        @media (max-width: 800px) {
            flex-direction: column;
        }
        .card {
            .process-number {
                display: inline-block;
                width: 1.5rem;
                font-family: 'Geist Mono', 'Ubuntu Mono', monospaced;
                &:after {
                    content: '.';
                }
            }
        }
    }
    .checkout {
        .checkout__custom-amount {
            display: none;
        }
        .checkout__trigger-bank {
            display: none;
        }
        .checkout__bank-details {
            display: none;
            padding-top: 1rem;
            border-top: 1px solid var(--color-input-border);
        }
        .checkout__bank-finish {
            display: none;
        }
        &:has(input[name="presetAmount"][value="custom"]:checked) {
            .checkout__custom-amount {
                display: block;
            }
        }
        &:has(input[name="method"][value="bank"]:checked) {
            .checkout__trigger-stripe {
                display: none;
            }
            .checkout__trigger-bank {
                display: block;
            }
            .checkout__bank-details {
                display: block;
                &:empty {
                    display: none;
                }
            }
            .checkout__bank-finish {
                display: block;
            }
        }
    }
</style>

<script>
    function isValidEmail(email) {
        return email && email.includes('@') && email.length >= 'a@a.aa'.length;
    }

    function showCheckoutMessage(checkoutMessage) {
        const $$checkoutAlert = document.querySelectorAll('.checkout-alert');
        $$checkoutAlert.forEach(($checkoutAlert) => {
            const $checkoutAlertText = $checkoutAlert.querySelector('p');
            $checkoutAlert.hidden = false;
            $checkoutAlertText.textContent = checkoutMessage;
        });
    }

    async function getBankDetails($form, $checkoutBankDetails, $checkoutBankFinish) {
        const formData = new FormData($form);
        if (!isValidEmail(formData.get('donorEmail'))) {
            return showCheckoutMessage("Please enter an email address");
        }
        const params = new URLSearchParams(formData);
        const res = await fetch('https://api.endowment.dev/create-bank-details', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            body: params,
        }).then((r) => r.text());
        $checkoutBankDetails.innerHTML = res;
        $checkoutBankFinish.hidden = false;
    }

    const $$checkout = document.querySelectorAll('.checkout');
    $$checkout.forEach(($checkout) => {
        const $form = $checkout.querySelector('form');
        const $checkoutBankButton = $checkout.querySelector('.checkout__trigger-bank button');
        const $checkoutBankDetails = $checkout.querySelector('.checkout__bank-details');
        const $checkoutBankFinish = $checkout.querySelector('.checkout__bank-finish');
        $checkoutBankButton.addEventListener('click', () => {
            getBankDetails($form, $checkoutBankDetails, $checkoutBankFinish);
        });
    });

    const urlParams = new URLSearchParams(window.location.search);
    const checkoutMessage = urlParams.get('checkoutMessage');
    if (checkoutMessage) {
        showCheckoutMessage(checkoutMessage);
    }

    const $donorEmail = document.getElementById('donor-email');
    const $donorName = document.getElementById('donor-name');

    function identify() {
        window.op('identify', {
            profileId: $donorEmail.value,
            email: $donorEmail.value,
            lastName: $donorName.value,
        });
    }

    $donorEmail.addEventListener('change', identify);
    $donorName.addEventListener('change', identify);
</script>
