---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="intro container" slot="hero">
        <div class="intro-text">
            <small>The world's first</small>
            <h2>Open Source<br>Endowment</h2>
            <hr>
            <small>
                Truly sustainable funding for critical OSS through a community&#x2011;driven
                endowment.
            </small>
        </div>
        <div class="intro-illu-container">
            <div class="intro-illu">
                <div class="illubox illubox--a">curl</div>
                <div class="illubox illubox--a">mpld3</div>
                <div class="illubox illubox--a">pandas</div>
                <div class="illubox illubox--a">cpython</div>
                <div class="illubox illubox--b illubox--ok">imagemagick</div>
                <div class="illubox illubox--b">iced</div>
                <div class="illubox illubox--b">tokio</div>
                <div class="illubox illubox--b illubox--ok">numpy</div>
                <div class="illubox illubox--c">xz</div>
                <div class="illubox illubox--c illubox--ok">log4j</div>
                <div class="illubox illubox--c">matplotlib</div>
                <div class="illubox illubox--c">requests</div>
                <div class="illubox illubox--d illubox--ok">openssl</div>
                <div class="illubox illubox--d illubox--ok">git</div>
                <div class="illubox illubox--d">zlib</div>
                <div class="illubox illubox--d">joda-time</div>
            </div>
        </div>
        <div class="mobile-only">
            <a href="#donate" class="button">
                Donate now<span class="after">›</span>
            </a>
        </div>
    </div>
    <section class="principles section--grid">
        <div class="container">
            <div class="cardset">
                <div class="card">
                    <img src="/images/icons/squiggle.svg">
                    <h2>Sustainable</h2>
                    <p>
                        Provides a stable, long-term funding model, independent of the volatility of traditional support.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/branches-dense.svg">
                    <h2>Systemic</h2>
                    <p>
                        Supports the critical but underfunded projects that conventional models miss.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/assembly.svg">
                    <h2>Efficient</h2>
                    <p>
                        A lean, digital-first, community-led organization designed for maximum impact and transparency.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Solving Open Source Sustainability</h2>
            <div class="spotlight">
                <div>
                    <p>
                        96% of codebases rely on open source software. Still, this critical infrastructure is built and
                        maintained by unpaid volunteers after their normal work hours — an unsustainable working pace
                        that causes them to burn out.
                    </p>
                    <p>
                        Maintainer burnout leads to catastrophic security failures, as seen with the
                        <a href="https://en.wikipedia.org/wiki/Log4Shell">Log4Shell</a>,
                        the
                        <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor">XZ Utils backdoor</a>
                        and
                        <a href="https://en.wikipedia.org/wiki/Heartbleed">Heartbleed</a>.
                    </p>
                    <p>
                        The cost, risk, and human toll of this system are incalculable.
                    </p>
                    <p>
                        <strong>Our solution: the endowment model</strong>.
                        An endowment invests donations to build a permanent fund, using only the investment returns to
                        foster a sustainable Open Source ecosystem. This creates a stable financial foundation designed
                        to weather economic and political volatility across decades.
                    </p>
                </div>
                <figure>
                    <img src="/images/xkcd-2347.png">
                    <figcaption>
                        <a href="https://xkcd.com/2347/">xkcd “Dependency”</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="vision section--grid">
        <div class="container">
            <h2>Our Vision</h2>
            <p>
                Open source is the world's largest public good institution, operating as if it were a globally
                decentralised research university, with a unique collaborative culture. More than 150 million open
                source contributors share knowledge and collaborate on work that benefits the public.
            </p>
            <p>
                The Open Source Endowment is a lasting solution to efficiently sustaining this vital institution. It
                leverages a funding model proven to work by leading universities and cultural institutions for
                centuries.
            </p>
        </div>
    </section>
    <section class="container section--split">
        <div class="subsection">
            <h2>Short-Term Roadmap</h2>
            <div class="roadmap">
                <div class="roadmap-item">
                    <h3>Q1 2025</h3>
                    <ul>
                        <li>
                            Incorporated a US nonprofit corporation
                        </li>
                        <li>
                            Applied for tax-exempt 501(c)(3) status
                        </li>
                        <li>
                            Secured the first co-founding donors
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q2 2025</h3>
                    <ul>
                        <li>
                            Set up financial infrastructure
                        </li>
                        <li>
                            Introduce Member Club
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q3 2025</h3>
                    <ul>
                        <li>
                            Develop initial grant-making model
                        </li>
                        <li>
                            Finalize co-founding donor community
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q4 2025</h3>
                    <ul>
                        <li>
                            Obtain 501(c)(3) status (expected, not guaranteed)
                        </li>
                        <li>
                            Public launch and community expansion
                        </li>
                    </ul>
                </div>
                <div class="roadmap-item">
                    <h3>Q1 2026</h3>
                    <ul>
                        <li>
                            Finalize grant-making model
                        </li>
                        <li>
                            Perform first distributions of grants
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subsection">
        </div>
    </section>
    <section>
        <h2>Key Principles</h2>
        <div class="container flex flex-center">
            <div class="features">
                <div class="card">
                    <h3>Data-Driven & SMART Goals</h3>
                    <p>
                        Data-driven processes inform funding, measure impact, and guide strategy,
                        ensuring every donation makes a measurable difference.
                    </p>
                </div>
                <div class="card">
                    <h3>Global Outlook</h3>
                    <p>
                        Supports the long-term health of the global open source community, not of specific countries or
                        ecosystems.
                    </p>
                </div>
                <div class="card">
                    <h3>Maximum Transparency</h3>
                    <p>
                        Provides open data, public governance processes, and clear accountability in all funding
                        decisions and operations.
                    </p>
                </div>
                <div class="card">
                    <h3>Inclusive and Diverse Governance</h3>
                    <p>
                        Empowers the community to shape key strategic and distribution decisions with inclusive governance and low thresholds for participation.
                    </p>
                </div>
                <div class="card">
                    <h3>Decentralized and Diversified Funding</h3>
                    <p>
                        A broad funding base from diverse sources makes every contribution meaningful and
                        fosters community governance.
                    </p>
                </div>
                <div class="card">
                    <h3>Neutrality</h3>
                    <p>
                        Remains independent from political or corporate influence, ensuring unbiased, mission-driven
                        funding for the public good.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>How it Works</h2>
            <div class="cardset cardset--tight process">
                <div class="card">
                    <img src="/images/icons/card.svg">
                    <h3>
                        <span class="process-number">1</span>Fundraising
                    </h3>
                    <p>
                        Individuals, companies, and foundations donate to the Open Source Endowment, forming its
                        permanent principal, which is not spent.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/suns.svg">
                    <h3>
                        <span class="process-number">2</span>Investing
                    </h3>
                    <p>
                        The endowment principal is invested in a diversified, low-risk portfolio that generates
                        sustainable annual returns. We target a ~5% spend rate, typical for US universities.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/balls.svg">
                    <h3>
                        <span class="process-number">3</span>Grant-Making
                    </h3>
                    <p>
                        We distribute funds by leveraging data from across the open source ecosystem. Distribution
                        algorithms are selected by member donors in consultation with the OSS community.
                    </p>
                </div>
                <div class="card">
                    <img src="/images/icons/search.svg">
                    <h3>
                        <span class="process-number">4</span>Monitoring
                    </h3>
                    <p>
                        Project outcomes are tracked for accountability, refining strategy, and maximizing ecosystem
                        benefits. Distribution algorithm is iteratively improved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Our Team</h2>
            <div class="team-member-list">
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/konstantin.webp" alt="A portrait of Konstantin">
                        </div>
                        <h3>
                            <div class="team-member__nameline">
                                <a href="https://www.linkedin.com/in/kvinogradov/">Konstantin Vinogradov</a>
                                <a href="mailto:konstantin@endowment.dev" target="_blank">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/></svg>
                                </a>
                            </div>
                            <em>Board Director, Chairman</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            General Partner at
                            <a href="https://runacap.com/">Runa Capital</a>
                            ($0.5B+ AUM), focusing on OSS investments.
                        </p>
                        <p>
                            Co&#x2011;founded an endowment which grew from $50K to $600K+ in 12 months. Published the
                            <a href="https://runacap.com/ross-index/">ROSS Index</a>,
                            a data-driven rating of top OSS startups, every quarter since 2020.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/chad.webp" alt="A portrait of Chad">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/chadwhitacre/">Chad Whitacre</a>
                            <em>Board Director, Secretary</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Head of Open Source at application monitoring platform
                            <a href="https://sentry.io/">Sentry</a> ($3B+ valuation).
                        </p>
                        <p>
                            Leads the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>,
                            a cultural initiative to get companies to pay open source maintainers.
                            Founded OSS funding pioneer
                            <a href="https://gratipay.com/">Gratipay</a>
                            (2012–2018).
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/maxim.webp" alt="A portrait of Maxim">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/maxim/">Maxim Konovalov</a>
                            <em>Board Director, Treasurer</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Co-founder and ex VP Engineering at
                            <a href="https://nginx.com">Nginx</a>,
                            the world's leading web server, acquired for ~$0.7B in 2019.
                        </p>
                        <p>
                            Former VP Engineering at
                            <a href="https://www.f5.com/">F5</a>.
                            Seasoned supporter of
                            <a href="https://www.freebsd.org/">FreeBSD</a>.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/jonathan.webp" alt="A portrait of Jonathan">
                        </div>
                        <h3>
                            <div class="team-member__nameline">
                                <a href="https://www.linkedin.com/in/jonathan-starr-b04032284/">Jonathan Starr</a>
                                <a href="mailto:jon@endowment.dev" target="_blank">
                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/></svg>
                                </a>
                            </div>
                            <em>Executive Director</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Program Manager at
                            <a href="https://numfocus.org">NumFOCUS</a>,
                            a nonprofit foundation supporting scientific OSS such as
                            <a href="https://pandas.pydata.org/">Pandas</a>.
                        </p>
                        <p>
                            Co-Founder of
                            <a href="https://www.scios.tech/">SciOS</a>
                            and the
                            <a href="https://iosp.io/">The Institute of Open Science Practices</a>,
                            focusing on sustainable open science.
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/amy.webp" alt="A portrait of Amy">
                        </div>
                        <h3>
                            <a href="https://www.linkedin.com/in/amy3parker/">Amy Parker</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Chief Fundraising Officer at the
                            <a href="https://openssl-foundation.org/">OpenSSL Foundation</a>.
                            Former Director of the
                            <a href="https://wikimediaendowment.org/">Wikipedia Endowment</a>.
                            <p>
                                Former Director of Individual Giving at the
                                <a href="https://www.si.edu/">Smithsonian</a> and the
                                <a href="https://www.nypl.org/">New York Public Library</a>.
                            </p>
                        </p>
                    </div>
                </div>
                <div class="team-member card">
                    <div class="team-member__head">
                        <div class="team-member__image">
                            <img src="/images/team/vlad.webp" alt="A portrait of Vlad">
                        </div>
                        <h3>
                            <a href="https://vlad.website">Vlad-Stefan Harbuz</a>
                            <em>Advisor</em>
                        </h3>
                    </div>
                    <div class="team-member__desc">
                        <p>
                            Maintainer of the
                            <a href="https://opensourcepledge.com">Open Source Pledge</a>.
                            Core developer of OSS funding service
                            <a href="https://thanks.dev">thanks.dev</a>.
                        </p>
                        <p>
                            Helped build software used by the
                            <a href="https://www.gatesfoundation.org/">Gates Foundation</a>
                            to allocate $1B in healthcare funding.
                        </p>
                    </div>
                </div>
            </div>
            <div class="team-note">
                <p>
                    Looking to contribute to the Open Source Endowment? We'd love to chat.
                    <a href="mailto:konstantin@endowment.dev?cc=jon@endowment.dev" target="_blank">Contact us!</a>
                </p>
            </div>
        </div>
    </section>
    <section id="donate">
        <div class="container">
            <h2>Want to make sustainable OSS happen?</h2>
            <div class="cardset cardset--tight">
                <a class="card card--small-icon card--with-arrow card--no-h-margin" href="https://buy.stripe.com/4gwdTs9zk0VI7F67ss">
                    <svg role="img" aria-label="The Stripe logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="50 40 380 150" style="enable-background:new 0 0 468 222.5" xml:space="preserve"><style>.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#fff}</style><path class="st0" d="M414 113.4c0-25.6-12.4-45.8-36.1-45.8-23.8 0-38.2 20.2-38.2 45.6 0 30.1 17 45.3 41.4 45.3 11.9 0 20.9-2.7 27.7-6.5v-20c-6.8 3.4-14.6 5.5-24.5 5.5-9.7 0-18.3-3.4-19.4-15.2h48.9c0-1.3.2-6.5.2-8.9zm-49.4-9.5c0-11.3 6.9-16 13.2-16 6.1 0 12.6 4.7 12.6 16h-25.8zM301.1 67.6c-9.8 0-16.1 4.6-19.6 7.8l-1.3-6.2h-22v116.6l25-5.3.1-28.3c3.6 2.6 8.9 6.3 17.7 6.3 17.9 0 34.2-14.4 34.2-46.1-.1-29-16.6-44.8-34.1-44.8zm-6 68.9c-5.9 0-9.4-2.1-11.8-4.7l-.1-37.1c2.6-2.9 6.2-4.9 11.9-4.9 9.1 0 15.4 10.2 15.4 23.3 0 13.4-6.2 23.4-15.4 23.4zM223.8 61.7l25.1-5.4V36l-25.1 5.3zM223.8 69.3h25.1v87.5h-25.1zM196.9 76.7l-1.6-7.4h-21.6v87.5h25V97.5c5.9-7.7 15.9-6.3 19-5.2v-23c-3.2-1.2-14.9-3.4-20.8 7.4zM146.9 47.6l-24.4 5.2-.1 80.1c0 14.8 11.1 25.7 25.9 25.7 8.2 0 14.2-1.5 17.5-3.3V135c-3.2 1.3-19 5.9-19-8.9V90.6h19V69.3h-19l.1-21.7zM79.3 94.7c0-3.9 3.2-5.4 8.5-5.4 7.6 0 17.2 2.3 24.8 6.4V72.2c-8.3-3.3-16.5-4.6-24.8-4.6C67.5 67.6 54 78.2 54 95.9c0 27.6 38 23.2 38 35.1 0 4.6-4 6.1-9.6 6.1-8.3 0-18.9-3.4-27.3-8v23.8c9.3 4 18.7 5.7 27.3 5.7 20.8 0 35.1-10.3 35.1-28.2-.1-29.8-38.2-24.5-38.2-35.7z"/></svg>
                    <em>2.9% fee</em>
                </a>
                <a class="card card--small-icon card--with-arrow" href="https://www.paypal.com/donate/?hosted_button_id=JBYBVSHCC9U8N">
                    <svg enable-background="new 121.565 23.381 286.048 76.225" version="1.1" viewBox="121.56 23.381 286.05 76.225" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#fff">
                    <path d="m314.58 23.381h-22.25c-1.521 0-2.816 1.107-3.053 2.609l-8.998 57.053c-0.178 1.126 0.691 2.146 1.832 2.146h11.416c1.064 0 1.973-0.775 2.137-1.827l2.553-16.175c0.236-1.503 1.531-2.609 3.054-2.609h7.041c14.655 0 23.113-7.093 25.324-21.151 0.995-6.147 0.04-10.979-2.839-14.36-3.164-3.72-8.773-5.686-16.217-5.686zm2.568 20.837c-1.216 7.987-7.315 7.987-13.216 7.987h-3.355l2.354-14.912c0.143-0.9 0.92-1.564 1.832-1.564h1.539c4.016 0 7.811 0 9.766 2.288 1.169 1.368 1.523 3.397 1.08 6.201z"/>
                    <path d="m155.89 23.381h-22.25c-1.521 0-2.816 1.107-3.054 2.609l-8.998 57.053c-0.177 1.126 0.693 2.146 1.833 2.146h10.624c1.521 0 2.816-1.107 3.054-2.61l2.428-15.392c0.237-1.503 1.532-2.609 3.053-2.609h7.041c14.656 0 23.114-7.093 25.325-21.151 0.995-6.147 0.04-10.979-2.838-14.36-3.167-3.72-8.775-5.686-16.218-5.686zm2.567 20.837c-1.216 7.987-7.316 7.987-13.215 7.987h-3.357l2.354-14.912c0.143-0.9 0.919-1.564 1.832-1.564h1.539c4.016 0 7.81 0 9.765 2.288 1.17 1.368 1.524 3.397 1.082 6.201z"/>
                    <path d="m222.39 43.963h-10.653c-0.912 0-1.689 0.664-1.832 1.566l-0.469 2.979-0.745-1.078c-2.308-3.351-7.45-4.469-12.585-4.469-11.77 0-21.826 8.92-23.783 21.432-1.019 6.24 0.427 12.205 3.966 16.367 3.251 3.825 7.891 5.417 13.419 5.417 9.487 0 14.75-6.096 14.75-6.096l-0.476 2.962c-0.179 1.126 0.691 2.146 1.832 2.146h9.595c1.521 0 2.815-1.107 3.053-2.609l5.761-36.473c0.176-1.127-0.693-2.144-1.833-2.144zm-14.849 20.738c-1.028 6.088-5.861 10.174-12.025 10.174-3.09 0-5.564-0.994-7.154-2.875-1.576-1.866-2.169-4.523-1.669-7.483 0.959-6.033 5.87-10.252 11.94-10.252 3.025 0 5.482 1.004 7.103 2.902 1.632 1.913 2.273 4.588 1.805 7.534z"/>
                    <path d="m381.09 43.963h-10.653c-0.913 0-1.69 0.664-1.832 1.566l-0.47 2.979-0.744-1.078c-2.309-3.351-7.45-4.469-12.585-4.469-11.771 0-21.826 8.92-23.782 21.432-1.02 6.24 0.428 12.205 3.966 16.367 3.251 3.825 7.892 5.417 13.419 5.417 9.487 0 14.75-6.096 14.75-6.096l-0.476 2.962c-0.179 1.126 0.69 2.146 1.832 2.146h9.595c1.521 0 2.814-1.107 3.053-2.609l5.76-36.473c0.178-1.127-0.693-2.144-1.833-2.144zm-14.847 20.738c-1.029 6.088-5.861 10.174-12.025 10.174-3.092 0-5.564-0.994-7.155-2.875-1.575-1.866-2.169-4.523-1.669-7.483 0.96-6.033 5.869-10.252 11.939-10.252 3.024 0 5.481 1.004 7.104 2.902 1.63 1.913 2.272 4.588 1.806 7.534z"/>
                    <path d="m279.14 43.963h-10.709c-1.024 0-1.981 0.509-2.558 1.355l-14.772 21.757-6.261-20.906c-0.393-1.309-1.596-2.206-2.961-2.206h-10.527c-1.271 0-2.165 1.25-1.756 2.454l11.792 34.612-11.091 15.648c-0.871 1.229 8e-3 2.928 1.514 2.928h10.697c1.015 0 1.964-0.497 2.541-1.33l35.615-51.4c0.852-1.23-0.029-2.912-1.524-2.912z"/>
                    <path d="m393.65 24.948-9.133 58.097c-0.177 1.126 0.692 2.145 1.832 2.145h9.185c1.521 0 2.816-1.107 3.055-2.609l9.004-57.053c0.178-1.126-0.691-2.145-1.832-2.145h-10.278c-0.914-2e-3 -1.691 0.663-1.833 1.565z"/>
                    </g>
                    </svg>
                    <em>4.9% fee</em>
                </a>
                <a class="card card--small-icon card--with-arrow" href="https://github.com/sponsors/osendowment">
                    <div class="gh-sponsors">
                        <svg role="img" aria-label="The GitHub logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 33 32"><path fill="#fff" fill-rule="evenodd" d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.6 15.6 0 0 1 4.078-.549 15.6 15.6 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"/></svg>
                        <h3>GitHub Sponsors</h3>
                    </div>
                    <em>6% fee</em>
                </a>
                <div class="card card--full-width card--small-icon">
                    <h3>Bank transfer</h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Helpful Resources</h2>
            <div class="cardset cardset--tight cardset--column">
                <a class="card card--iconed" href="https://openpath.quest/2024/the-open-source-sustainability-crisis/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“The Open Source Sustainability Crisis”</strong><br>by Chad Whitacre
                    </span>
                </a>
                <a class="card card--iconed" href="https://kvinogradov.com/oss-universities/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“What Open Source can learn from universities to fix its funding”</strong><br>by
                        Konstantin Vinogradov
                    </span>
                </a>
                <a class="card card--iconed" href="https://www.blackduck.com/resources/analyst-reports/open-source-security-risk-analysis.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“2025 Open Source Security and Risk Analysis”</strong><br>by Synopsis
                    </span>
                </a>
                <a class="card card--iconed" href="https://opensourcepledge.com/blog/CFOs-care-about-OSS/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#fff" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                    <span>
                        <strong>“Why CFOs should care about Open Source software”</strong><br>by Todd Bazakas
                    </span>
                </a>
            </div>
        </div>
    </section>
</Layout>

<style>
    .intro {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
        .intro-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            small {
                display: block;
                font-size: 1.5rem;
                font-weight: normal;
                font-style: italic;
            }
            h2 {
                margin: 0;
                font-size: 4.0rem;
                line-height: 1.2;
                @media (max-width: 800px) {
                    font-size: 2.5rem;
                }
            }
        }
        .intro-illu-container {
            flex: 0 0 16rem;
            width: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5rem;
        }
        .intro-illu {
            flex: 1;
            position: relative;
            background-image: url(/images/branches.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            height: 23rem;
            width: 16rem;
            .illubox {
                position: absolute;
                display: inline-block;
                padding: 0.3rem 0.8rem;
                border-radius: var(--border-radius-big);
                border: 1px solid var(--color-box-border);
                border-top-color: var(--color-box-hl-border);
                box-shadow: 0px 0px 8px 2px var(--color-shadow);
                background: rgba(200, 200, 255, 0.02);
                color: white;
                font-family: 'Geist Mono', 'Ubuntu Mono', monospaced;
                white-space: nowrap;
                transform: rotate(-50deg);
                transform-origin: left;
                opacity: 0;
                &.illubox--a {
                    top: -7%;
                    left: 14%;
                }
                &.illubox--b {
                    top: 4%;
                    left: 37%;
                }
                &.illubox--c {
                    top: 12%;
                    left: 59%;
                }
                &.illubox--d {
                    top: 19%;
                    left: 80%;
                }
                &:before {
                    content: ' ';
                    display: inline-block;
                    height: 0.6rem;
                    width: 0.6rem;
                    margin-right: 0.6rem;
                    border-radius: 100%;
                    background: var(--color-warning);
                    animation: blink 2s ease-in-out infinite alternate;
                }
                &.illubox--ok:before {
                    background: var(--color-secondary);
                }
                &:nth-child(4n+1) {
                    animation-name: illubox-a;
                    animation-duration: 40s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
                &:nth-child(4n+2) {
                    animation-name: illubox-b;
                    animation-duration: 40s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
                &:nth-child(4n+3) {
                    animation-name: illubox-c;
                    animation-duration: 40s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
                &:nth-child(4n) {
                    animation-name: illubox-d;
                    animation-duration: 40s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    .principles {
        margin-top: 0rem;
    }
    .vision {
        p {
            font-size: 1.3rem;
            text-align: center;
        }
    }
    .spotlight {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
        & > div {
            flex: 1;
            font-size: 1.2rem;
        }
        & > figure {
            max-width: 17rem;
            margin: 0;
        }
    }
    .roadmap {
        .roadmap-item {
            position: relative;
            padding-bottom: 2rem;
            padding-left: 3rem;
            h3 {
                margin-bottom: 0.5rem;
            }
            ul {
                margin: 0;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 1.5rem;
                width: 1.5rem;
                background: var(--color-secondary-bright);
                border-radius: 100%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 1rem;
                left: 0.75rem;
                bottom: -0.5rem;
                transform: translateX(-50%);
                display: block;
                width: 0.3rem;
                background: var(--color-secondary-bright);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
    .features {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        h3 {
            margin: 0;
            font-size: 1rem;
        }
    }
    .process {
        @media (max-width: 800px) {
            flex-direction: column;
        }
        .card {
            .process-number {
                display: inline-block;
                width: 1.5rem;
                font-family: 'Geist Mono', 'Ubuntu Mono', monospaced;
                &:after {
                    content: '.';
                }
            }
        }
    }
    .team-member-list {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        .team-member {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0;
            .team-member__head {
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--color-box-border);
                h3 {
                    margin: 0;
                    padding: 0 1rem;
                    font-size: 1.3rem;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    em {
                        display: block;
                        font-weight: normal;
                        font-style: normal;
                        font-size: 1rem;
                    }
                }
                .team-member__image {
                    height: 6rem;
                    width: 6rem;
                    padding: 1rem;
                    img {
                        height: 4rem;
                        width: 4rem;
                        z-index: 100;
                        box-shadow: 0 0 4px 4px var(--color-shadow);
                        border: 4px solid transparent;
                        outline: 1px solid var(--color-box-border);
                        border-radius: var(--border-radius-small);
                    }
                }
                .team-member__nameline {
                    svg {
                        position: relative;
                        top: -2px;
                        width: 1.1rem;
                        height: 1.1rem;
                        margin-left: 0.3rem;
                        vertical-align: middle;
                        &:hover {
                            path {
                                fill: var(--color-primary-bright);
                            }
                        }
                    }
                }
            }
            .team-member__desc {
                padding: 1rem;
            }
        }
    }
    .team-note {
        padding-top: 1.5rem;
        text-align: center;
    }
    .gh-sponsors {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
</style>
