---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';

import * as post from '../../assets/membership-policy.md';
---

<Layout>
    <section class="pagesec">
        <div class="container">
            <article>
                <Fragment set:html={post.compiledContent()}/>
            </article>
        </div>
    </section>
</layout>
