---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

let API_HOST = 'https://api.endowment.dev';
if ('ENDOWMENT_API_HOST' in process.env) {
    API_HOST = process.env.ENDOWMENT_API_HOST;
}
---

<div class="cardset cardset--column">
    <div class="detailed-form-extras">
        <div class="card card--alert card--row-icon checkout-alert" hidden>
            <img src="/images/icons/fa-triangle-exclamation-solid.svg" alt="Warning">
            <p></p>
        </div>
        <noscript>
            <div class="card card--info card--row-icon">
                <img src="/images/icons/fa-triangle-exclamation-solid.svg" alt="Warning">
                <p>
                    Our payment process requires JavaScript — but you can contact us at
                    <a href="mailto:donors@endowment.dev" target="_blank">donors@endowment.dev</a>
                    to arrange your donation separately.
                </p>
            </div>
        </noscript>
    </div>
    <div class="detailed-form checkout">
        <div class="detailed-form__sidebar">
            <div class="detailed-form__section">
                <input type="radio" name="method" value="stripe" id="method-stripe"
                    checked="checked">
                <label for="method-stripe">
                    <svg role="img" aria-label="A bank card" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5 3C19.3284 3 20 3.67157 20 4.5V15.5C20 16.3284 19.3284 17 18.5 17H1.5C0.671573 17 0 16.3284 0 15.5V4.5C0 3.67157 0.671573 3 1.5 3H18.5ZM12 12.5C11.5375 12.5 11.1574 12.6171 10.8555 12.8184C10.5567 13.0176 10.3636 13.2796 10.2402 13.5264C10.1178 13.7712 10.0592 14.0102 10.0303 14.1836C10.0156 14.2714 10.0078 14.3461 10.0039 14.4004C10.002 14.4274 10.0015 14.45 10.001 14.4668C10.0007 14.475 10.0001 14.4818 10 14.4873V14.499L10.5 14.5H10C10 14.7761 10.2239 15 10.5 15C10.7761 15 11 14.7761 11 14.5C11.0002 14.4949 11.001 14.4845 11.002 14.4707C11.0039 14.443 11.0079 14.4001 11.0166 14.3477C11.0346 14.2398 11.0697 14.1037 11.1348 13.9736C11.1989 13.8454 11.2871 13.7324 11.4102 13.6504C11.5301 13.5704 11.7125 13.5 12 13.5C12.2875 13.5 12.4699 13.5704 12.5898 13.6504C12.7129 13.7324 12.8011 13.8454 12.8652 13.9736C12.9303 14.1037 12.9654 14.2398 12.9834 14.3477C12.9921 14.4001 12.9961 14.443 12.998 14.4707C12.999 14.4845 12.9998 14.4949 13 14.5C13 14.7761 13.2239 15 13.5 15C13.7417 15 13.9437 14.8286 13.9902 14.6006L14 14.5049V14.5059C14 14.5044 14.0005 14.4991 14.001 14.4922C14.002 14.4781 14.004 14.4548 14.0088 14.4258C14.019 14.3648 14.0385 14.2912 14.0723 14.2236C14.1051 14.1579 14.1465 14.1074 14.1992 14.0723C14.2488 14.0392 14.3375 14 14.5 14C14.6625 14 14.7512 14.0392 14.8008 14.0723C14.8535 14.1074 14.8949 14.1579 14.9277 14.2236C14.9615 14.2912 14.981 14.3648 14.9912 14.4258C14.996 14.4548 14.998 14.4781 14.999 14.4922C14.9995 14.4984 14.9999 14.5031 15 14.5049L15.0098 14.6006C15.0563 14.8286 15.2583 15 15.5 15H16.5C16.7761 15 17 14.7761 17 14.5C17 14.2239 16.7761 14 16.5 14H15.9121C15.8889 13.9288 15.8605 13.8529 15.8223 13.7764C15.7301 13.5921 15.584 13.3926 15.3555 13.2402C15.1238 13.0858 14.8375 13 14.5 13C14.1625 13 13.8762 13.0858 13.6445 13.2402C13.6301 13.2499 13.6173 13.2615 13.6035 13.2715C13.4883 13.1087 13.3406 12.9491 13.1445 12.8184C12.8426 12.6171 12.4625 12.5 12 12.5ZM1.5 7C1.22386 7 1 7.22386 1 7.5V8.5C1 8.77614 1.22386 9 1.5 9H18.5C18.7761 9 19 8.77614 19 8.5V7.5C19 7.22386 18.7761 7 18.5 7H1.5Z" fill="#bbbdbf"/>
                    </svg>
                    Card
                </label>
            </div>
            <div class="detailed-form__section">
                <input type="radio" name="method" value="bank" id="method-bank">
                <label for="method-bank">
                    <svg role="img" aria-label="A bank" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 17.9998C19.7761 17.9998 20 18.2236 20 18.4998C20 18.7759 19.7761 18.9998 19.5 18.9998H0.5C0.223858 18.9998 0 18.7759 0 18.4998C0 18.2236 0.223858 17.9998 0.5 17.9998H19.5ZM3.5 6.99976C3.77614 6.99976 4 7.22362 4 7.49976C4 7.7759 3.77614 7.99976 3.5 7.99976H3V15.9998H3.5C3.77614 15.9998 4 16.2236 4 16.4998C4 16.7759 3.77614 16.9998 3.5 16.9998H1.5C1.22386 16.9998 1 16.7759 1 16.4998C1 16.2236 1.22386 15.9998 1.5 15.9998H2V7.99976H1.5C1.22386 7.99976 1 7.7759 1 7.49976C1 7.22362 1.22386 6.99976 1.5 6.99976H3.5ZM8.5 6.99976C8.77614 6.99976 9 7.22362 9 7.49976C9 7.7759 8.77614 7.99976 8.5 7.99976H8V15.9998H8.5C8.77614 15.9998 9 16.2236 9 16.4998C9 16.7759 8.77614 16.9998 8.5 16.9998H6.5C6.22386 16.9998 6 16.7759 6 16.4998C6 16.2236 6.22386 15.9998 6.5 15.9998H7V7.99976H6.5C6.22386 7.99976 6 7.7759 6 7.49976C6 7.22362 6.22386 6.99976 6.5 6.99976H8.5ZM13.5 6.99976C13.7761 6.99976 14 7.22362 14 7.49976C14 7.7759 13.7761 7.99976 13.5 7.99976H13V15.9998H13.5C13.7761 15.9998 14 16.2236 14 16.4998C14 16.7759 13.7761 16.9998 13.5 16.9998H11.5C11.2239 16.9998 11 16.7759 11 16.4998C11 16.2236 11.2239 15.9998 11.5 15.9998H12V7.99976H11.5C11.2239 7.99976 11 7.7759 11 7.49976C11 7.22362 11.2239 6.99976 11.5 6.99976H13.5ZM18.5 6.99976C18.7761 6.99976 19 7.22362 19 7.49976C19 7.7759 18.7761 7.99976 18.5 7.99976H18V15.9998H18.5C18.7761 15.9998 19 16.2236 19 16.4998C19 16.7759 18.7761 16.9998 18.5 16.9998H16.5C16.2239 16.9998 16 16.7759 16 16.4998C16 16.2236 16.2239 15.9998 16.5 15.9998H17V7.99976H16.5C16.2239 7.99976 16 7.7759 16 7.49976C16 7.22362 16.2239 6.99976 16.5 6.99976H18.5ZM9.88086 0.0144074C9.9981 -0.0143665 10.1231 -3.93744e-05 10.2324 0.0573761L19.7324 5.05738C19.9359 5.16447 20.0405 5.39665 19.9854 5.61988C19.9301 5.84301 19.7299 5.99976 19.5 5.99976H0.5C0.270117 5.99976 0.0698701 5.84301 0.0146484 5.61988C-0.04051 5.39665 0.0640959 5.16447 0.267578 5.05738L9.76758 0.0573761L9.88086 0.0144074ZM2.52344 4.99976H17.4766L10 1.06421L2.52344 4.99976Z" fill="#bbbdbf"/>
                    </svg>
                    Bank transfer
                </label>
            </div>
        </div>
        <div class="detailed-form__body">
            <form
                class="form form--big"
                action={API_HOST + "/stripe-checkout-session"}
                method="POST"
            >
                <div class="form-control">
                    <label for="donor-email">Email</label>
                    <input type="email" name="email" id="donor-email">
                </div>
                <div class="form-control">
                    <label for="donor-name">Name</label>
                    <input type="text" name="name" id="donor-name">
                </div>
                <div class="form-control-group">
                    <label>
                        Donation amount
                        <small>Give $1,000+/year to become a Member</small>
                    </label>
                    <div class="form-control">
                        <div class="input-wrapper input-wrapper--large input-wrapper--usd">
                            <input
                                class="input--large"
                                type="text"
                                name="amount"
                                placeholder="100"
                                value="100">
                        </div>
                    </div>
                    <div class="form-control-set">
                        <button
                            type="button"
                            class="button button--small checkout__preset-amount"
                            data-amount="100"
                        >$100</button>
                        <button
                            type="button"
                            class="button button--small checkout__preset-amount"
                            data-amount="500"
                        >$500</button>
                        <button
                            type="button"
                            class="button button--small checkout__preset-amount"
                            data-amount="1000"
                        >$1000</button>
                        <button
                            type="button"
                            class="button button--small checkout__preset-amount"
                            data-amount="2000"
                        >$2000</button>
                    </div>
                </div>
                <div class="form-control checkout__trigger-stripe">
                    <button type="button" class="button button--block button--colored" disabled>
                        Donate via Stripe
                    </button>
                </div>
                <div class="form-control checkout__trigger-bank">
                    <button type="button" class="button button--block button--colored" disabled>
                        Show bank details for a donation
                    </button>
                </div>
                <div class="checkout__bank-details"></div>
                <div class="checkout__bank-finish" hidden>
                    <a
                        href="/thank-you"
                        type="submit"
                        class="button button--block"
                        data-track="checkout-bank-finish"
                    >I've made my transfer</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.detailed-form {
    display: flex;
    width: 50rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--color-section-border);
    color: var(--color-text-dark);
    background: var(--color-bg-base);
    .detailed-form__sidebar {
        flex-basis: 13rem;
        border-right: 1px solid var(--color-section-border);
        background: var(--color-gray);
        .detailed-form__section {
            input[type="radio"] + label {
                padding: 1.2rem;
                border: 0;
                border-radius: 0;
                text-align: left;
                background: transparent;
                img, svg {
                    margin-right: 0.5rem;
                    vertical-align: -3px;
                }
            }
            input[type="radio"]:checked + label {
                margin-right: -1px;
                color: var(--color-text-dark);
                background: white;
                font-weight: bold;
                @media (min-width: 801px) {
                    border-bottom: 1px solid var(--color-section-border);
                    border-top: 1px solid var(--color-section-border);
                }
                svg path {
                    fill: var(--color-secondary);
                }
            }
        }
        @media (min-width: 801px) {
            .detailed-form__section:first-child {
                input[type="radio"]:checked + label {
                    border-top: none;
                }
            }
        }
    }
    @media (max-width: 800px) {
        flex-direction: column;
        .detailed-form__sidebar {
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1.5rem;
            padding-bottom: 0;
            background: transparent;
            .detailed-form__section {
                input[type="radio"] + label {
                    padding: 0.8rem 1rem;
                    border: 3px solid var(--color-section-border);
                    border-radius: var(--border-radius);
                    text-align: center;
                }
                input[type="radio"]:checked + label {
                    border-color: var(--color-secondary);
                }
            }
        }
    }
    .detailed-form__body {
        flex: 1;
        padding: 1.5rem;
    }
}
.detailed-form-extras {
    width: 50rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.checkout {
    .checkout__trigger-bank {
        display: none;
    }
    .checkout__bank-details {
        display: none;
        padding-top: 1rem;
        border-top: 1px solid var(--color-input-border);
    }
    .checkout__bank-finish {
        display: none;
    }
    &:has(input[name="method"][value="bank"]:checked) {
        .checkout__trigger-stripe {
            display: none;
        }
        .checkout__trigger-bank {
            display: block;
        }
        .checkout__bank-details {
            display: block;
            &:empty {
                display: none;
            }
        }
        .checkout__bank-finish {
            display: block;
        }
    }
}
</style>

<script define:vars={{ API_HOST }}>
    function isValidEmail(email) {
        return email && email.includes('@') && email.length >= 'a@a.aa'.length;
    }

    function showCheckoutMessage(checkoutMessage) {
        const $$checkoutAlert = document.querySelectorAll('.checkout-alert');
        $$checkoutAlert.forEach(($checkoutAlert) => {
            const $checkoutAlertText = $checkoutAlert.querySelector('p');
            $checkoutAlert.hidden = false;
            $checkoutAlertText.textContent = checkoutMessage;
        });
    }

    function hideCheckoutMessage() {
        const $$checkoutAlert = document.querySelectorAll('.checkout-alert');
        $$checkoutAlert.forEach(($checkoutAlert) => {
            $checkoutAlert.hidden = true;
        });
    }

    async function getBankDetails($form, $checkoutBankDetails, $checkoutBankFinish) {
        const formData = new FormData($form);
        if (!isValidEmail(formData.get('email'))) {
            return showCheckoutMessage("Please enter an email address");
        }
        const params = new URLSearchParams(formData);
        try {
            const res = await fetch(API_HOST + '/bank-details', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                body: params,
            });
            if (res.status != 200) {
                throw new Error(`Got status code ${res.status}`);
            }
            const html = await res.text();
            $checkoutBankDetails.innerHTML = html;
            $checkoutBankFinish.hidden = false;
            hideCheckoutMessage();
        } catch (err) {
            showCheckoutMessage("Could not record donation attempt. Please contact us.");
        }
    }

    const $$checkout = document.querySelectorAll('.checkout');
    $$checkout.forEach(($checkout) => {
        const $form = $checkout.querySelector('form');
        const $checkoutAmount = $checkout.querySelector('input[name="amount"]');
        const $checkoutPresetAmounts = $checkout.querySelectorAll('.checkout__preset-amount');
        const $checkoutStripeButton = $checkout.querySelector('.checkout__trigger-stripe button');
        const $checkoutBankButton = $checkout.querySelector('.checkout__trigger-bank button');
        const $checkoutBankDetails = $checkout.querySelector('.checkout__bank-details');
        const $checkoutBankFinish = $checkout.querySelector('.checkout__bank-finish');
        $checkoutPresetAmounts.forEach(($checkoutPresetAmount) => {
            $checkoutPresetAmount.addEventListener('click', function() {
                $checkoutAmount.value = this.dataset.amount;
            });
        });
        $checkoutBankButton.addEventListener('click', () => {
            try {
                window.op('track', 'checkout-bank-trigger');
            } catch (e) {
                console.error('Failed to track checkout-bank-trigger');
            }
            getBankDetails($form, $checkoutBankDetails, $checkoutBankFinish);
        });
        $checkoutStripeButton.addEventListener('click', () => {
            try {
                window.op('track', 'checkout-stripe-trigger');
            } catch (e) {
                console.error('Failed to track checkout-stripe-trigger');
            }
            $form.submit();
        });
    });

    const urlParams = new URLSearchParams(window.location.search);
    const checkoutMessage = urlParams.get('checkoutMessage');
    if (checkoutMessage) {
        showCheckoutMessage(checkoutMessage);
    }

    const $donorEmail = document.getElementById('donor-email');
    const $donorName = document.getElementById('donor-name');

    function identify() {
        window.op('identify', {
            profileId: $donorEmail.value,
            email: $donorEmail.value,
            lastName: $donorName.value,
        });
    }

    $donorEmail.addEventListener('change', identify);
    $donorName.addEventListener('change', identify);
</script>
