---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import { minidenticon } from 'minidenticons';

interface Props {
  name: string;
  description?: string;
  avatarUrl?: string;
  compact?: boolean;
}

let { name, description, avatarUrl, compact } = Astro.props;

if (!avatarUrl) {
    avatarUrl = '/images/icons/silhouette.svg';
}
---

<div class={'donor-mini-profile' + (compact && ' donor-mini-profile--compact' || '')}>
    {!compact &&
        <div class="donor-avatar">
            {avatarUrl && (
                <img src={avatarUrl} alt={"The " + name + " logo"}>
            ) || (
                <Fragment set:html={minidenticon(name)} />
            )}
        </div>
    }
    <div>
        <h3>{name}</h3>
        {!compact &&
            <i>{description}</i>
        }
    </div>
</div>
