---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import '../styles/common.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/logo/web/favicon.png">
        <link rel="apple-touch-icon" href="/images/logo/web/apple-touch-icon.png">
        <title>Open Source Endowment</title>
    </head>
    <body>
        <div class="hero">
            <header>
                <div class="container header-items">
                    <a href="/">
                        <img
                            class="desktop-only"
                            src="/images/logo/OSE Logo for Dark BG.svg"
                            alt="The Open Source Endowment logo">
                        <img
                            class="mobile-only"
                            src="/images/logo/Logomark Colored.svg"
                            alt="The Open Source Endowment logo">
                    </a>
                    <nav class="desktop-only">
                        <a href="#TODO" class="button">
                            Donate now<span class="after">›</span>
                        </a>
                    </nav>
                </div>
            </header>
            <slot name="hero" />
        </div>
        <slot />
        <footer>
            <div class="container footer-items">
                <div class="footer-brand">
                    <img
                        src="/images/logo/OSE Logo for Dark BG.svg"
                        alt="The Open Source Endowment logo">
                    <div class="footer-socials">
                        <a href="#TODO">
                            <svg role="img" aria-label="The X (Twitter) logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 300 300.251"><path fill="#fff" d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59H300M36.01 19.54h40.65l187.13 262.13h-40.66"/></svg>
                        </a>
                        <a href="#TODO">
                            <svg role="img" aria-label="The LinkedIn logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 72 72"><path fill="#fff" d="M8 0a8 8 0 0 0-8 8v56a8 8 0 0 0 8 8h56a8 8 0 0 0 8-8V8a8 8 0 0 0-8-8zm8.35 10c3.508 0 6.347 2.863 6.347 6.396s-2.84 6.399-6.347 6.399S10 19.929 10 16.396 12.842 10 16.35 10m33.033 16.273c7.353 0 12.617 4.49 12.617 13.778V62H51.316V43.803c0-4.99-1.896-7.778-5.845-7.778-4.296 0-6.54 2.902-6.54 7.778V62H28.634V27.332H38.93v4.672s3.096-5.73 10.453-5.73m-38.35 1.059h10.735V62H11.03z"></svg>
                        </a>
                        <a href="https://github.com/osendowment">
                            <svg role="img" aria-label="The GitHub logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 33 32"><path fill="#fff" fill-rule="evenodd" d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.6 15.6 0 0 1 4.078-.549 15.6 15.6 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"/></svg>
                        </a>
                    </div>
                    <p class="address">
                        Open Source Endowment Foundation<br>
                        1209 Orange Street<br>
                        Wilmington, DE<br>
                        USA
                    </p>
                    <p class="disclaimers">
                        Third-party project names used for illustrative purposes only.
                    </p>
                </div>
                <div>
                    <h3>Key Documents</h3>
                    <ul>
                        <li>
                            <a href="#TODO">Certificate of Incorporation</a>
                        </li>
                        <li>
                            <a href="#TODO">Bylaws</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>

<style>
    .hero {
        background:
            var(--url-noise),
            radial-gradient(ellipse at center center,
                rgba(150, 150, 255, 0.03), transparent),
            radial-gradient(ellipse at bottom left,
                rgba(0, 0, 0, 0.2), transparent),
            radial-gradient(ellipse at top right,
                var(--color-bg-grad1), var(--color-bg-base));
        border-bottom: 1px solid var(--color-section-border);
    }
    header {
        padding: 1rem 0;
        @media (max-width: 800px) {
            padding-bottom: 0;
            padding-top: 2rem;
        }
        .header-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 800px) {
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
            }
            img {
                height: 3rem;
            }
        }
    }
    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background:
            var(--url-noise),
            linear-gradient(var(--light-angle),
                var(--color-bg-base), var(--color-bg-grad2));
        border-top: 1px solid var(--color-section-border);
        font-size: 0.9rem;
        .disclaimers {
            color: var(--color-faded-text);
        }
        .footer-items {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            @media (max-width: 800px) {
                flex-direction: column;
                gap: 2rem;
            }
            .footer-brand {
                flex: 1;
            }
            .footer-socials {
                display: flex;
                gap: 1rem;
                margin: 1rem 0;
                a {
                    text-decoration: none;
                    color: var(--color-text);
                    &:hover {
                        color: var(--color-primary-bright);
                        svg path {
                            fill: var(--color-primary-bright);
                        }
                    }
                }
            }
            h3 {
                margin-bottom: 0.5rem;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                a {
                    color: var(--color-text);
                    text-decoration-color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
</style>
