---
// © 2025 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import '../styles/common.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/logo/web/favicon.png">
        <link rel="apple-touch-icon" href="/images/logo/web/apple-touch-icon.png">
        <title>Open Source Endowment</title>
    </head>
    <body>
        <div class="hero">
            <header>
                <div class="container header-items">
                    <a href="/">
                        <img
                            src="/images/logo/OSE Logo for Dark BG.svg"
                            alt="The Open Source Endowment logo">
                    </a>
                    <nav>
                        <a href="#donate" class="button">
                            Donate now<span class="after">›</span>
                        </a>
                    </nav>
                </div>
            </header>
            <slot name="hero" />
        </div>
        <slot />
    </body>
</html>

<style>
    .hero {
        background:
            url(/images/noise.png),
            linear-gradient(135deg, #0f1229, #011124);
            /* var(--color-bg); */
            /* radial-gradient( */
            /*     ellipse at top left, */
            /*     #5ba9ee33, transparent), */
            /* radial-gradient( */
            /*     ellipse at bottom right, */
            /*     #3fbd7333, transparent), */
            /* var(--color-bg); */
        border-bottom: 1px solid rgba(222, 222, 255, 0.03);
    }
    header {
        padding: 1rem 0;
        .header-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 800px) {
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
            }
            img {
                height: 3rem;
            }
        }
    }
</style>
